{% extends 'partials/_base.html' %}

{% block content %}
{% include 'partials/_navbar.html' %}

<br/>
<div class = 'About' >
    <h3>Work from home?  Drink from home!</h3>
    <p>In the age of work from home, it's easy to miss out on the fun of happy hours and delicious cocktails with friends.  At Pour Choices, we want to make it easy for people to enjoy post work cocktails - whether the happy hour is on video chats or with friends at your home. </p>
    <br/>
    <h3>About the Developer</h3>
    <p>Rosanne Anderson is a Software Engineer who has a love of cocktails and a hatred for gatekeeping.  She created this app to help people figure out delicious drinks they can make for themselves on nights in.  </p>
    <p>To reach out to Rosanne about Software Engineering projects, connect with her on <a href = 'https://www.linkedin.com/in/rosanne-anderson/'>LinkedIn </a>or <a href = 'https://github.com/RosanneE'>Github</a>.</p>    
</div>


{% endblock %}