{% extends 'partials/_base.html' %} 
{% block content %} 
{% include 'partials/_navbar.html' %}

<br />
<div class="add_update">
  <div class="update">
    <h2>{{drinks.drink_name}}</h2>
    <h4>{{drinks.drink_ingredients}}</h4>
    <h3>Recipie</h3>
    <p>{{drinks.recipie}}</p>
    <p> Glass: {{drinks.glass}}</p
    <br/>
    <p>Tags: {{drinks.tags}}<p/>
    <button class = 'update_button'><a href = '{% url 'cocktail_update' drinks.id %}'>Update</a></button>
  </div>
</div>
{% include 'partials/_footer.html' %} 
{% endblock %}
