{% comment %} Cocktail list and Search feature - used on index page {% endcomment %}

{% comment %} Search {% endcomment %}
<form class = "mb-3" method="get">
    <div class = "field has-addons">
        <div class = "control">
            <input class = "input" type = "text" name = "drink_name" placeholder = "Search Cocktails" />
        </div>
        <div class = "control">
            <input class = "button is-success" type = "submit" value = "Search" />
        </div>
    </div>

    <input type="button" onclick="location.href='{% url 'home' %}'" value="Clear Search" />

</form>

<h2>{{headerC}}</h2>

{% comment %} Cocktail list {% endcomment %}
<div class="cocktail_filtered_list">
    {% for drink in drinks%}
    <a class = 'dList' href = '{{drink.id}}'>
    <h4>{{drink.drink_name}}</h4>
    </a>
    {% endfor %}
</div>